<p id="notice"><%= notice %></p>

  <h3> Group: <%= @group.name %> </h3>
  <h3> Project: <%= @group.project_name %> </h3>
  <% if @group.has_user? current_user %>
    - <%= link_to 'Rename', edit_name_group_path(@group), class: 'btn btn-link' %>
  <% end %>

<% if @group.course.instructor? current_user %>
  <%= link_to "Project", edit_project_name_group_path(@group), :class => "btn btn-light" %>
  <%= link_to 'Edit', edit_group_path(@group), :class => "btn btn-dark"%>
<% end %>


<br>
<hr>
<strong>Group Members</strong>
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Role</th> 
    <th>Take Action </th>
  </tr>
  <%# Loop through subscribers who are part of this group %>
  <% for subscriber in @group.subscribers %>
    <tr> 
      <td>
        <%= subscriber.user.first_name %>
      </td>
      <td>
        <%= subscriber.user.role%>
      </td>
      <% if current_user.Instructor? %>
        <td>
          <%= link_to "Remove", remove_subscriber_group_path(@group, :subscriber_id => subscriber.id), method:"delete" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.Instructor? %>
  <%= link_to "Add Students", add_subscribers_group_path(@group), :class => "btn btn-primary" %>
<% end %>
