<%= form_for(@user, as: 'user', url: @user, method: 'put') do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  
  <div class="field form-group">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name, autocomplete: "first name", class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name, autocomplete: "last name", class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= f.label :institute_id, "Institute ID" %><br />
    <%= f.text_field :institute_id, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= f.label :citizen_id, "Citizen ID" %><br />
    <%= f.text_field :citizen_id, class: 'form-control'  %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Update User", class: 'btn btn-primary' %>  <%= link_to 'Back', users_path , :class=> "btn btn-dark"%>

  </div>
<% end %>