<p id="notice"><%= notice %></p>
<div class="container">
<h1><i>Students</i></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center">First name</th>
      <th style="text-align:center">Last name</th>
      <th style="text-align:center">Take Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td style="text-align:center"><%= user.first_name %></td>
          <td style="text-align:center"><%= user.last_name %></td>
          <td style="text-align:center"><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning' %> &nbsp;
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Create New Student', new_user_path, class: 'btn btn-success' %>