<p id="notice"><%= notice %></p>

<h1>Course: <% @course.course_name %></h1>
<h2>New Group</h2>

<%= form_with(model: @group, local: true, url: create_group_course_path(@course)) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Create New Group", class: 'btn btn-success' %>
  </div>
<% end %>
