<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>
<% if @course.user.Instructor? %>
  <%= link_to 'Edit', edit_course_path(@course) %> 
  <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  <%= link_to 'Back', courses_path %>
