<p id="notice"><%= notice %></p>

<h2>Course: <%= @course.course_name %></h2>
<% if current_user.Instructor? %>
  <%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-primary" %> 
  <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%>
  <%= link_to "Subscribers", subscribers_course_path(@course), method: :get, :class => "btn btn-warning"%> <br>
<% end %>
<hr>
<p>
<% if @course.subscribed?(current_user) %>
  <%= link_to "Leave Course", unsubscribe_course_path(@course), method: :delete ,:class => "btn btn-warning"%>
<% else %>
  <%= link_to "Join Course", subscribe_course_path(@course), method: :post, :class => "btn btn-success"%>
<% end %>
</p>


<% if  @course.subscribed? current_user %>
  <% if @group.nil?  %>
    Group not assigned yet.
  <% else %>
    <%= link_to "Your Group", @group, method: :get, class: 'btn btn btn-primary' %> <br><br>
  <% end %>
<% end %>

<hr>
<% if current_user.Instructor? %>
<div class="container">

  <h2><i>Groups</i></h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:center"><h3>Name</h3></th>
        <th style="text-align:center"><h3>Number of Students</h3></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @course.groups.each do |group| %>
        <tr>
          <td style="text-align:center"><%= link_to group.name, group %></td>
          <td><%= group.subscribers.includes(:user).where(users: {role: User.Student}).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>

  <%= link_to 'New Group', new_group_course_path(@course), class: 'btn btn-primary' %>
<% end %>
