<p id="notice"><%= notice %></p>

<h3>Course: <%= link_to @course.course_name, @course %></h3>

<h2> Subscribers: </h2>



<%= form_tag(subscribers_course_path(@course), method: 'get') do %>

  <div class="field ">
    <%= label_tag :name %>
    <%= text_field_tag :name, params[:name], placeholder: 'name' %>
  </div>

  <div class="field">
    <%= label_tag :student_id, "Student ID" %>
    <%= text_field_tag :student_id, params[:student_id], placeholder: 'Student ID' %>
  </div>

  <div class="field">
    <%= label_tag :group_id %>
    <%= collection_select :course, :group_ids, @course.groups, :id, :name, {:include_blank => 'Select Group',  :selected => "" }%>
  </div>
<br><br>
   <%= submit_tag "filter" %>
  <%# <span class="actions">
    <%= submit_tag "filter", class: 'form-control' %>
  <%#/span> %>
  
<% end %>


<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Student ID</th>
    <th>Group</th>
  </tr>
  <% for subscriber in @filtered_subscribers %>
    <tr>
      <td>
        <%= subscriber.user.first_name %>
        <%= subscriber.user.last_name %>
      </td>
      <td>
        <% if subscriber.user.Student? %>
          <%= subscriber.user.institute_id %>
        <% else %>
          Not a student - <%= subscriber.user.role %>
        <% end %>
      </td>
      <td>
        <% if subscriber.group.nil? %>
          <%= link_to "Assign Group?", new_group_course_path(@course)%> 
        <% else %>
          <%= link_to subscriber.group.name, subscriber.group %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

