<div class="container">
<h2><strong>Group:</strong> <%= link_to @group.name, @group %> </h2> <br>

<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Role</th>
    <th>Group</th>
    <th>Take Action </th>
  </tr>
  <tr>
    <% for subscriber in @student_subscribers%>
      <td>
        <%= subscriber.user.first_name %>
      </td>
      <td>
        <%= subscriber.user.role %>
      </td>
      <td>
        <% if subscriber.group.nil? %>
          ------
        <% else %>
          <%= link_to subscriber.group.name, subscriber.group %>
        <% end %>
      </td>
      <td>
        <%= link_to "Add to group", group_subscriber_path(@group, :id => subscriber.id),
          class: 'btn btn-success', method:"post" %>
      </td>
    </tr>
  <% end %>
</table>
