<!DOCTYPE html>
<html>
  <head>
    <title>Nimble Classroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="navbar-header">
			<%= link_to 'Back', 'javascript:history.go(-1);', :class => "btn btn-light" %>&nbsp;
			<%= link_to "Courses", courses_path, :class => "btn btn-info" %>&nbsp;
			<%# <% if current_user.Instructor? %>
		  <%= link_to "Users", users_path, :class => "btn btn-info" %>
			<%# <% end %>
		</div>

		<div class="mx-auto order-0">
        <a class="navbar-brand" href="/">Nimble Online Classroom</a>
    </div>

		<ul class="navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav item">
          <font size="4" color="white">Welcome <%= current_user.first_name %>! not you?</font>&nbsp;&nbsp;&nbsp;
       	  <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-danger" %>
       </li>
			  <% else %>
				<li>
				  <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-warning" %> or
				  <%= link_to "Sign in", new_user_session_path , :class => "btn btn-success"%>.
			  </li>
			<% end %>	
		</ul>
	</nav>

	<div id="container" align="center">

    <div id="wrapper" class="container">
    <br>
      <% if flash[:notice] %>
        <div class="flash notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="flash error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
